@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";




@theme{

    --font-DM-SANS: "Red Hat", sans-serif;
        
    --animate-flip-top: flip-top 0.8s linear;
    
        @keyframes flip-top {
            0% {
                transform: rotateX(0deg);
            }
    
           
            50%,100% {
                transform: rotateX(-90deg);
            }
        }
    --animate-flip-bottom: flip-bottom 0.8s linear;
        @keyframes flip-bottom {
    
            0%,
            50% {
                transform: rotateX(90deg);
            }
    
            100% {
                transform: rotateX(0deg);
            }
        }
}


